#socialstuff {
  float: right;
  padding: 20px;
  width: 162px;
  list-style: none;
}
#twitch {
  float: right;
  padding: 20px;
  width: 320px;
}
@media screen and (max-width: 600px) {
  #socialstuff, #twitch {
    display: none;
  }
}
