#socialstuff {
  padding: 20px;
  width: 300px;
  list-style: none;
}
#socialcontainer {
  float: right;
  min-height: 941px;
}
#socialstuff li {
  width: 300px;
}
.socialheader {
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  line-height: normal;
}
.socialdescription {
  font-size: 11px;
  margin-left: 3px;
  line-height: normal;
  font-family: Arial;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  #socialstuff {
    display: none;
  }
}
