<html>

<head>
<title>{{ page.title }}</title>
</head>

<body>
<h1>Uncelestial</h1>

<a href="/">Home</a>,
<a href="/about">About</a>,
<a href="/store">Store</a>,
<a href="/discography">Discography</a>,
<a href="/pictures">Pictures</a>,
<a href="/videos">Videos</a>,
<a href="/shows">Shows</a>,
<a href="/philosophy">Philosophy</a>,
<a href="/contact">Contact</a>


{{ content }}

<p><a href="https://github.com/uncelestial/uncelestial.github.io/edit/master/{{ page.path }}">Edit This Page</a></p>
</body>

</html>
